@{
    ViewData["Title"] = "Songwriting with Lo";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Custom icon link -->
    <link rel="icon" href="~/NewFolder/icons8-music-16.png" type="image/x-icon">
</head>
<body>
    <h1>Song Writing with Lo :)</h1>
    <br />
    <center>
    <img src="~/NewFolder/musica.jpg" alt="Songwriting Image 2" width="400">
    </center>
    <p>
        Come write music with me! Have you ever wanted to express how you felt but couldn't find the words? 
        Have you have been so happy but there weren't enough words to show your true joy? Well no
        matter what you are feeling, music has been the way I cope with these emotions. It is a way 
        to express not just your thoughts but your soul. Learn and write and feel and joy with me as we write our souls.
    </p>
    <footer>
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 45%; background-color: lightblue; padding: 20px;">
                <h2>About me :)</h2>
                <p>My name is Lauren, or Lo, and I am from Colorado Springs, CO. I grew up with the best family 
                    that taught me to love learning, growing, failing, and singing. We are not necessarily the most talented bunch
                    but we have literally no shame. I am now writing an album with my brother and we're planning to release it this summer!'
                </p>
                <p>
                    I <br />
                    LOVE <br />
                    MUSIC <br />
                    WITH <br />
                    MY <br />
                    WHOLE <br />
                    <em>HART!</em> <br />
                </p>
            </div>
            <div style="width: 45%; background-color: lightgreen; padding: 20px;">
                <h2></h2>
                <img src="~/NewFolder/meee.jpg" alt="Your Image" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </footer>
</body>
<script src="~/js/site.js"></script>
</html>
